{% include "store/base.html" %}

{% load static %}

{% block content %}


    <style>

        body{
            background-color: gray;
        }

    </style>


    <body>
        
        <br> <br> <br> <br> <br> <br> <br> <br> <br>

        <div class="container bg-white shadow-md p-5 form-layout">

            <div class="text-center">

                <i class="text-success fa-solid fa-credit-card fa-2x"></i>

                <br> <br>

                <h5> <strong> Payment success! </strong> </h5>

                <p> Your order was processed successfully. </p>

            </div>

        </div>

    </body>


{% endblock %}